<div class="flex justify-center">
  <div class="xl:w-6/12 lg:w-9/12 w-full xl:ml-6 lg:mr-6">
    <article class="bg-white shadow-lg rounded-lg p-4 my-4">
      <h2 class="text-2xl font-bold mb-2">Top 10 Productos Más Vendidos</h2>
      <p class="text-gray-600 text-sm mb-4">Los productos más populares elegidos por nuestros visitantes.</p>
      <ul class="space-y-8">
        <!-- Producto 1 -->
        <li class="flex items-start space-x-4">
          <div class="flex-shrink-0 w-20 h-24 bg-gray-200"> <!-- Div para la imagen con un tamaño fijo y fondo gris para espacios vacíos -->
            <img src="https://m.media-amazon.com/images/I/611gdS+5o4L._AC_SL1500_.jpg" alt="Producto 1" class="w-full h-full object-contain bg-white"/> <!-- object-contain para mantener la relación de aspecto -->
          </div>
          <div class="flex flex-col justify-between flex-grow">
            <h3 class="text-lg font-semibold mb-2">Philips GC026/80 Quitapelusas, Negro Y Dorado</h3>
            <p class="text-gray-500 mb-2">Afeitadora de todos los textiles, para jerséis y mantas nuevas Compatible con muchos tejidos: cachemira, lana, algodón, fibras sintéticas..</p>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl">
              <a href="https://amzn.to/3PgTGUo" target="_blank">COMPRAR EN AMAZON</a>
            </button>
          </div>
        </li>
        <!-- Producto 2 -->
        <li class="flex items-start space-x-4">
          <div class="flex-shrink-0 w-20 h-24 bg-gray-200"> <!-- Mismo div para mantener la uniformidad -->
            <img src="https://m.media-amazon.com/images/I/51HHXfRXB7L._AC_SL1000_.jpg" alt="Producto 2" class="w-full h-full object-contain bg-white"/>
          </div>
          <div class="flex flex-col justify-between flex-grow">
            <h3 class="text-lg font-semibold mb-2">Cecotec Freidora sin Aceite 6 L de Aire Caliente Cecofry Bombastik 6000. 1700 W</h3>
            <p class="text-gray-500 mb-2">Freidora dietética que permite cocinar con una sola cucharada de aceite, consiguiendo unos resultados más sanos.</p>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl">
              <a href="https://amzn.to/3Vfyxhc" target="_blank">COMPRAR EN AMAZON</a>
            </button>
          </div>
        </li>

        <li class="flex items-start space-x-4">
          <div class="flex-shrink-0 w-20 h-24 bg-gray-200"> <!-- Mismo div para mantener la uniformidad -->
            <img src="https://m.media-amazon.com/images/I/61PBKWfVcSL._AC_SL1500_.jpg" alt="Producto 2" class="w-full h-full object-contain bg-white"/>
          </div>
          <div class="flex flex-col justify-between flex-grow">
            <h3 class="text-lg font-semibold mb-2">ISDIN Fotoprotector Fusion Water Color Medium - Protector Solar Facial Uso Diario, Textura Ultraligera, SPF 50, 50 ml</h3>
            <p class="text-gray-500 mb-2">¿QUÉ ES? Fusion Water Color Medium es un protector solar de color ultraligero de uso diario que, además de garantizar una alta protección contra las radiaciones UVB y UVA, 
              proporciona una cobertura natural con un efecto atractivo; no irrita los ojos</p>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl">
              <a href="https://amzn.to/3TzoQZG" target="_blank">COMPRAR EN AMAZON</a>
            </button>
          </div>
        </li>

        <li class="flex items-start space-x-4">
          <div class="flex-shrink-0 w-20 h-24 bg-gray-200"> <!-- Mismo div para mantener la uniformidad -->
            <img src="https://m.media-amazon.com/images/I/81MjRfRR1nL._AC_SL1500_.jpg" alt="Producto 2" class="w-full h-full object-contain bg-white"/>
          </div>
          <div class="flex flex-col justify-between flex-grow">
            <h3 class="text-lg font-semibold mb-2">Fire TV Stick con mando por voz Alexa (incluye controles del TV), dispositivo de streaming HD</h3>
            <p class="text-gray-500 mb-2">La última versión de nuestro dispositivo de streaming más vendido: con un 50 % más de potencia que el Fire TV Stick del 2019, 
              ofrece una reproducción en streaming rápida y con calidad Full HD. Incluye el mando por voz Alexa con botones de encendido y volumen.</p>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl">
              <a href="https://amzn.to/48U1KRR" target="_blank">COMPRAR EN AMAZON</a>
            </button>
          </div>
        </li>

        <li class="flex items-start space-x-4">
          <div class="flex-shrink-0 w-20 h-24 bg-gray-200"> <!-- Mismo div para mantener la uniformidad -->
            <img src="https://m.media-amazon.com/images/I/71Lb4rcgLuL._AC_SL1500_.jpg" alt="Producto 2" class="w-full h-full object-contain bg-white"/>
          </div>
          <div class="flex flex-col justify-between flex-grow">
            <h3 class="text-lg font-semibold mb-2">Nespresso De'Longhi Inissia EN80.B - Cafetera monodosis de cápsulas Nespresso, 19 bares, apagado automático, color negro, Incluye pack de bienvenida con 7 cápsulas</h3>
            <p class="text-gray-500 mb-2">Tu nueva cafetera es totalmente automática y podrás programar hasta 2 cantidades de café a tu gusto. Dispones de 2 botones, uno de café largo y el otro de café corto. 
              Con este último podrás decirle a tu cafetera que cantidad de café es la que prefieres de manera que la próxima vez que la utilices tan sólo con apretar el botón servirá automáticamente la cantidad memorizada.</p>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl">
              <a href="https://amzn.to/3Vh4oOk" target="_blank">COMPRAR EN AMAZON</a>
            </button>
          </div>
        </li>

        <li class="flex items-start space-x-4">
          <div class="flex-shrink-0 w-20 h-24 bg-gray-200"> <!-- Mismo div para mantener la uniformidad -->
            <img src="https://m.media-amazon.com/images/I/51wTu+DcixL._AC_SL1000_.jpg" alt="Producto 2" class="w-full h-full object-contain bg-white"/>
          </div>
          <div class="flex flex-col justify-between flex-grow">
            <h3 class="text-lg font-semibold mb-2">Cecotec Aspirador Vertical Conga Rockstar 1500 Ray Pure. 215 W, 12 kPa.</h3>
            <p class="text-gray-500 mb-2">Aspirador sin cables 3 en 1: vertical, escoba y de mano, máxima potencia de succión de 12 Kpa y diseño 360º para eliminar el polvo de cualquier lugar. 
              Batería de Ion-Litio de 2200 mAh y 25,2 V que consigue una autonomía de hasta 45 minutos y reduce el tiempo de carga a 4-5 horas. Podrás aspirar toda tu casa sin necesidad de recargarlo.</p>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl">
              <a href="https://amzn.to/4a4vtbQ" target="_blank">COMPRAR EN AMAZON</a>
            </button>
          </div>
        </li>

        <li class="flex items-start space-x-4">
          <div class="flex-shrink-0 w-20 h-24 bg-gray-200"> <!-- Mismo div para mantener la uniformidad -->
            <img src="https://m.media-amazon.com/images/I/71P6jv2ePkL._AC_SL1500_.jpg" alt="Producto 2" class="w-full h-full object-contain bg-white"/>
          </div>
          <div class="flex flex-col justify-between flex-grow">
            <h3 class="text-lg font-semibold mb-2">FRESKO 4-en-1 Batidora de mano, batidora de 1000W con 12 velocidades y modo turbo, Cuchillas de acero inoxidable 304, Incluye taza medidora, Taza picadora y batidor (HB3302)</h3>
            <p class="text-gray-500 mb-2">Potente motor de 1000W mezcla eficiente y continua que hace el trabajo rápido.
              2 Modos de velocidad. Turboalimentación para un rendimiento máximo o regulación de 12 velocidades para control de precisión.</p>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl">
              <a href="https://amzn.to/3PoyE6d" target="_blank">COMPRAR EN AMAZON</a>
            </button>
          </div>
        </li>

        <li class="flex items-start space-x-4">
          <div class="flex-shrink-0 w-20 h-24 bg-gray-200"> <!-- Mismo div para mantener la uniformidad -->
            <img src="https://m.media-amazon.com/images/I/71nARPST37L._AC_SL1500_.jpg" alt="Producto 2" class="w-full h-full object-contain bg-white"/>
          </div>
          <div class="flex flex-col justify-between flex-grow">
            <h3 class="text-lg font-semibold mb-2">Apple iPhone 12, 128GB, Negro - (Reacondicionado)</h3>
            <p class="text-gray-500 mb-2">El producto está reacondicionado, es totalmente funcional y está en excelentes condiciones. Respaldado por la garantía de 1 año de Amazon Renewed.
              Este producto de segunda mano ha sido inspeccionado, probado y limpiado profesionalmente por vendedores cualificados de Amazon. No está certificado por Apple.</p>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl">
              <a href="https://amzn.to/3PndfKR" target="_blank">COMPRAR EN AMAZON</a>
            </button>
          </div>
        </li>
        <!-- Más productos... -->
      </ul>
      <a href="#" class="text-blue-600 hover:text-blue-800 transition-colors duration-300 mt-4 inline-block">Ver todos los productos</a>
    </article>
  </div>
</div>
