<article class="bg-white shadow-lg rounded-lg p-4 my-4">
    <h2 class="text-2xl font-bold mb-2">Top 5 Productos Más Vendidos</h2>
    <p class="text-gray-600 text-sm mb-4">Los productos más populares elegidos por nuestros visitantes.</p>
    <ul class="space-y-8">
      <!-- Producto 1 -->
      <li class="flex items-center">
        <img src="https://m.media-amazon.com/images/I/611gdS+5o4L._AC_SL1500_.jpg" alt="Producto 1" class="w-20 h-24 ml-4 mr-4"/>
        <div>
          <h3 class="text-lg font-semibold">Philips GC026/80 Quitapelusas, Negro Y Dorado</h3>
          <p class="text-gray-500">Afeitadora de todos los textiles, para jerséis y mantas nuevas Compatible con muchos tejidos: cachemira, lana, algodón, fibras sintéticas..</p>
        </div>
        <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl ml-12">
            <a href="https://amzn.to/3PgTGUo" target="_blank">COMPRAR EN AMAZON</a>
          </button>
          
      </li>
      <!-- Producto 2 -->
      <li class="flex items-center">
        <img src="https://m.media-amazon.com/images/I/51HHXfRXB7L._AC_SL1000_.jpg" alt="Producto 2" class="w-20 h-24 ml-4 mr-4"/>
        <div>
          <h3 class="text-lg font-semibold">Cecotec Freidora sin Aceite 6 L de Aire Caliente Cecofry Bombastik 6000. 1700 W</h3>
          <p class="text-gray-500">Freidora dietética que permite cocinar con una sola cucharada de aceite, consiguiendo unos resultados más sanos.</p>
        </div>
        <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out shadow-lg hover:shadow-xl ml-12">
            <a href="https://amzn.to/3Vfyxhc" target="_blank">COMPRAR EN AMAZON</a>
          </button>
      </li>
      <!-- Más productos... -->
    </ul>
    <a href="#" class="text-blue-600 hover:text-blue-800 transition-colors duration-300 mt-4 inline-block">Ver todos los productos</a>
</article>
  
