<nav class="bg-white shadow-sm">
  <div class="container mx-auto px-4 flex items-center">
    <div class="w-40">
      <a href="">
        <img src="../../../assets/img/home-icon.svg.svg" alt="logo" class="w-full" class="logoApp">
      </a>
    </div>

    <div class="ml-12 flex space-x-5">
        <a href="#" class="flex items-center font-semibold text-sm hover:text-blue-500 transition">
          <span class="mr-2">
            <i class="fa-solid fa-house"></i>
          </span>
          Home
        </a>
    </div>
    <div class="ml-12 flex">
      <a href="#" class="flex items-center font-semibold text-sm hover:text-blue-500 transition">
        <span class="mr-2">
          <i class="fa-solid fa-house"></i>
        </span>
        About
      </a>
    </div>
    <div class="ml-12 flex">
      <a href="#" class="flex items-center font-semibold text-sm hover:text-blue-500 transition">
        <span class="mr-2">
          <i class="fa-solid fa-house"></i>
        </span>
        Contact
      </a>
    </div>
  </div>
</nav>
  